{include file="public/header" /}
<body>

<div class="page-container" style="margin-bottom:-20px;">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius " onclick="featured_add('添加瓶体','add.html')"  href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加瓶体</a></span> <span class="r"></span> </div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="80">瓶体ID</th>
					<th width="100">生产日期</th>
					<th width="100">年检日期</th>
					<th width="100">下次年检日期</th>
					<th width="60">瓶体类型</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="bottles" id="vo"}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td>{$vo.bottleId}</td>
					<td>{$vo.proDate}</td>
					<td>{$vo.yearDate}</td>					
					<td>{$vo.nextDate}</td>
					<td>{$vo.bottleType|bottleType}</sapn></td>			
					<td class="td-manage">								
					<a style="text-decoration:none" class="ml-5" onClick="featured_add('编辑','{:url('bottle/edit',['id'=>$vo.id])}')"  href="javascript:;" title="编辑">
					<i class="Hui-iconfont" >&#xe6df;</i>编辑</a>

					<a style="text-decoration:none" class="ml-5" onClick="o2o_del('{:url('bottle/status', ['id'=>$vo.id, 'status'=>-1])}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<!-- 分页设置 -->
<ul class="paginate">
	<li>{$bottles->render()}</li>
</ul>

</body>
</html>
<script type="text/javascript">


function featured_add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*资讯-添加*/
function category_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*删除*/
function del(url){
	layer.confirm('确认要删除吗？',function(index){
		window.location.href = url;
	});
}



</script> 
</body>
</html>