<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>登录</title>
  <link rel="stylesheet" href="__STATIC__/index/css/base.css" />
  <link rel="stylesheet" href="__STATIC__/index/css/login.css" />
  <script type="text/javascript" src="__STATIC__/index/js/html5shiv.js"></script>
  <script type="text/javascript" src="__STATIC__/index/js/respond.min.js"></script>
  <script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <ul>
            <li><a href="index.html" style="font-size:30px;color:#352e30;line-height:40px;">中小型企业级后台管理系统</a></li>
            <li class="divider"></li>
            <li>登录</li>
        </ul>
    </div>

<div class="content">
    <div class="wrap">
        <div class="login-logo"></div>
            <div class="login-area">
                <div class="title">登录</div>
                    <div class="login">
                        <form action="" method="post">
                            <div class="ordinaryLogin">

                                <p class="pass-form-item">
                                    <label class="pass-label">用户名</label>
                                    <input type="text" name="username" class="pass-text-input" placeholder="用户名">
                                </p>
                                <p class="pass-form-item">
                                    <label class="pass-label">密码</label>
                                    <input type="password" name="password" class="pass-text-input" placeholder="密码">
                                </p>

                            </div>

                            <div class="commonLogin">
                                <p class="pass-form-item">
                                    <input type="button" id="login" value="登录" class="pass-button">
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <ul class="first">

            </ul>
            <ul class="second">


            </ul>
        </div>
    </div>
<script>
  $(".pass-sms-btn").click(function(){
    $(".ordinaryLogin").css({display: "none"});
    $(".messageLogin,.question").css({display: "block"});
  });
  $(".pass-sms-link").click(function(){
    $(".messageLogin,.question").css({display: "none"});
    $(".ordinaryLogin").css({display: "block"});
  });
  $(function(){
    // 给登陆按钮添加点击事件
    $("#login").on('click', function(event){
       $.ajax({
            type:"POST",//提交方式
            url:"{:url('checklogin')}",
            data:$("form").serialize(),//将当前表单数据序列化以后再提交
            dataType:'json',//设置提交数据的类型为json
            success:function(data){ //只有标志位为1，才进行处理
                
                if(data.status == 1){
                    alert(data.message);//弹框提示用户登录成功
                    window.location.href = "{:url('index/index')}";//跳至后台主页面
                }else{
                    // 输出错误信息
                    alert(data.message);
                }
            }
       });
    })
  })
  // 刷新验证码
  function refreshVerity(){
    var ts = Date.parse(new Date())/1000;
    $("verity_img").attr("src", "/captcha?id="+ts);
  }
</script>
</body>
</html>